.home {
  background: #f4f2ee;
  min-height: 100vh;
  padding: 2rem;
  position: relative;
  font-family: 'Playfair Display', serif;
}

.brand-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 96px;
  letter-spacing: 20px;
  color: rgba(255, 255, 255, 0.7);
  pointer-events: none;
  z-index: 1;
  margin: 0;
}

.frame {
  background: #eee;
  border-radius: 14px;
  padding: 30px;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #d1d1d1;
  // gap: 30px;

  .dot-container {
    display: flex;
    gap: 1rem;
    padding-bottom: 0.75rem;

    .dot {
      width: 0.75rem;
    border: 1px solid #7a7d66;
    height: 0.75rem;
    border-radius: .75rem;
         background: #7a7d66;
    }
  }

  .home-page {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
  }
}

/* Left Hero */
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  // border-radius: 10px;
}

/* Right Gallery */
.gallery {
  position: relative;
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // grid-auto-rows: 180px;
  // gap: 20px;
  background: #7a7d66;
  // padding: 20px;
  // border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.gallery-item {
  width: 8rem;
  border: 1px solid red;
  height: 10rem;
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
}

.tall {
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}

/* Center Overlay Text */
.overlay-text {
  position: absolute;
  top: 50%;
  // left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  letter-spacing: 4px;
  color: #f4f2ee;
  opacity: 0.8;
}
