<section class="home">

  <!-- Background Title -->
  <h1 class="brand-title">RITI</h1>

  <div class="frame">

    <div class="dot-container">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
    <div class="home-page">
        <!-- Left Hero Image -->
    <div class="hero">
      <img src="assets/images/cover.jpg" alt="Couple moment">
    </div>

    <!-- Right Gallery -->
    <div class="gallery">

      <!-- <div class="gallery-item tall">
        <img src="assets/images/img1.jpg" alt="">
      </div> -->

      <div class="gallery-item" style="margin-left: 3rem;">
        <img src="assets/images/img2.jpg" alt="">
      </div>

      <div class="gallery-item" style="margin-left: 6rem;">
        <img src="assets/images/img3.jpg" alt="">
      </div>

      <div class="gallery-item" style="margin-left: 9rem;">
        <img src="assets/images/img4.jpg" alt="">
      </div>

      <!-- Center Text -->
      <div class="overlay-text">
        <span>HAPPY ANNIVERSARY</span>
      </div>

    </div>
    </div>
  </div>

</section>
